h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

.navbar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-weight: 300;
}

.navbar .navbar-toggler {
    outline: 0;
    border-width: 0;
}

.navbar .nav-item .nav-link {
    display: block;
}

.navbar .dropdown-menu {
    position: absolute !important;
    margin-top: 0;
}

a.waves-effect,
a.waves-light {
    display: inline-block;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    transition: all 0.2s ease-in-out;
}

img {
    max-width: 100%;
}

.navbar .dropdown-menu {
    position: absolute !important;
    margin-top: 0;
}

/* Slide homepage */
.carousel .carousel-control-prev-icon {
    background-image: url(/themes/nutifood/plugins/MDB/img/svg/arrow_left.svg)
}

.carousel .carousel-control-next-icon {
    background-image: url(/themes/nutifood/plugins/MDB/img/svg/arrow_right.svg)
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    width: 20px;
    height: 20px;
}

/* Vision */
.animated {
    animation-fill-mode: both;
}

.animated.show {
    animation-duration: 2s;
}

.rubberBand {
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.page_speed_35847398 {
    bottom: 0%;
    left: 3%;
}

.page_speed_553565524 {
    bottom: 0%;
    left: 20%;
}

.page_speed_770120226 {
    top: 5%;
    left: 0;
}