@media (max-width: 576px) {
    .content p {
        text-align: justify;
        padding: 0 16px;
    }

    .des {
        text-align: justify;
    }

    .list-check-icon li a {
        text-align: justify;
    }
}

@media (max-width: 600px) {
    .navbar .dropdown-menu form {
        width: 17rem;
    }
}

@media (max-width: 760px) {
    section.about-us {
        margin-top: 0;
        padding: 60px 0;
        background-position: left;
    }

    .title {
        font-size: 22px;
    }

    .about-us {
        min-height: 0;
    }

    .vision {
        min-height: 0;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .product-for-old .list-cate .title-small {
        padding-left: 10px;
    }

    .title-small {
        font-size: 10px;
    }

    .product-for-old .list-product {
        padding-top: 50px;
    }

    .list-post {
        margin-top: 30px;
    }

    .bootom-fotter {
        padding: 10px 0;
        min-height: 40px;
    }

    footer .bootom-fotter * {
        font-size: 10px;
    }

    footer .bootom-fotter .social img {
        width: 20px;
    }

    footer h4 {
        font-family: "Cabin";
        font-size: 16px;
        font-weight: normal;
    }
}

@media (max-width: 800px) {
    .slide-component .slick-prev {
        z-index: 99;
    }
}

@media (max-width: 991px) {
    #header-menu {
        top: 0 !important;
    }

    #header-menu a.navbar-brand {
        position: fixed !important;
        top: 0;
        left: calc(100vw / 2);
        transform: translateX(-50%);
        margin: 0 !important;
        padding: 10px 0;
        text-align: center;
        z-index: 99;
    }

    #header-menu a.navbar-brand img {
        height: 90%;
    }

    #header-menu li.nav-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        height: auto !important;
    }

    #header-menu li.nav-item .nav-link {
        color: #fff;
        max-width: 100%;
        width: 100%;
    }

    #header-menu li.nav-item.menu-item-has-children ul.navbar-nav {
        z-index: 2;
        position: relative !important;
        top: 0 !important;
        overflow: visible !important;
        margin-top: 10px;
        width: auto !important;
    }

    a.navbar-brand {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-collapse {
        background: #282c7e;
        position: absolute;
        width: 90%;
        top: 100%;
        margin-top: 0px;
        left: 5%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
    }

    ul.navbar-nav {
        background: #292c7e;
        padding: 30px 0;
    }


}

@media (max-width: 992px) {
    .navbar .container {
        width: 100%;
    }    

    .navbar .nav-item .nav-link {
        padding-left: 6px;
        padding-right: 6px;
    }

    .vision {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .img-cg {
        transform: translateY(0%)
    }
}

@media (max-width: 1570px) {
    .about-us {
        background-image: url(/themes/nutifood/images/home/about-us-no-airplane.jpg);
    }
}